body{
    background-color: rgb(57, 57, 57);
}
h1{
    color: aliceblue;
}
.experiment{
    background-color: rgb(104, 104, 104);
    display: flex;
    justify-content:space-evenly;
    margin: 20px auto 20px auto;
    width: 800px;
    text-align: center;
    padding: 10px;
}
.sector{
    margin: auto 0px auto 0px;
    font-size: 20pt;
    color: rgb(232, 232, 232);

}
.experiment div{
    width: 100px;
    height: 100px;
    margin: 30px;
}
.experiment div p{
    color: rgb(232, 232, 232);
    transform: translateY(90px);
}
.good{
    background-color: rgb(2, 251, 168);
}
.down{
    background-color: rgb(131, 131, 131);
}